<div class="side" data-side>
  <ul class="side__list list-reset">
    <li class="side__item">
      <a class="side__link span-icon" href="#">
        <svg class="side__link-icon icon">
          <use xlink:href="img/sprite.svg#home"></use>
        </svg>
        <span class="side__link-span">Home</span>
        <small class="side__counter">7</small>
      </a>
    </li>
    <li class="side__item">
      <a class="side__link span-icon" href="#">
        <svg class="side__link-icon icon">
          <use xlink:href="img/sprite.svg#checks"></use>
        </svg>
        <span class="side__link-span">Completed</span>
        <small class="side__counter">2</small>
      </a>
    </li>
    <li class="side__item">
      <a class="side__link span-icon" href="#">
        <svg class="side__link-icon icon">
          <use xlink:href="img/sprite.svg#layers"></use>
        </svg>
        <span class="side__link-span">Personal</span>
        <small class="side__counter">9</small>
      </a>
    </li>
    <li class="side__item">
      <a class="side__link span-icon" href="#">
        <svg class="side__link-icon icon">
          <use xlink:href="img/sprite.svg#layers"></use>
        </svg>
        <span class="side__link-span">Skills</span>
        <small class="side__counter">4</small>
      </a>
    </li>
  </ul>
  <button class="create-btn btn-reset span-icon">
    <svg class="create-btn__icon icon">
      <use xlink:href="img/sprite.svg#plus"></use>
    </svg>
    <span class="create-btn__span">Create new list</span>
  </button>
</div>
